@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,800,700,600);

@font-face {
  font-family: "Zuehlke";
  src: url("../../lib/font/zuehlke/zuehlke-webfont.eot?") format("eot"),
  url("../../lib/font/zuehlke/zuehlke-webfont.woff2") format("woff2"),
  url("../../lib/font/zuehlke/zuehlke-webfont.woff") format("woff"),
  url("../../lib/font/zuehlke/zuehlke-webfont.ttf") format("truetype"),
  url("../../lib/font/zuehlke/zuehlke-webfont.svg") format("svg");
}

$zuehlkeOrange: #ff820a;
$tileBackground: rgba(200, 200, 200, 0.97);
$mainMargin: 15px;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'sans-serif';
  display: flex;
  background-image: url('../../img/bg.png');
  background-size: cover;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0 $mainMargin;
  flex-direction: column;

  h1 {
    font-size: 50px;
    background-color: $tileBackground;
    padding: $mainMargin;
    border-radius: 10px;
    margin: 2*$mainMargin $mainMargin $mainMargin;
    text-align: center;
  }

  h1, h2, h3 {
    font-family: 'Zuehlke', 'sans-serif';
    color: $zuehlkeOrange;
  }

  .container {
    display: flex;
    min-width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    section {
      flex-basis: calc(25% - 2 * #{$mainMargin});
      min-width: 200px;
      background: $tileBackground;
      margin: $mainMargin;
      padding: 10px;
      border-radius: 10px;
      flex-grow: 1;

      transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: 15px 15px 15px rgba(0, 0, 0, .4);
      }

      a {
        display: block;
        overflow: auto;
        text-decoration: none;
        color: inherit;

        &:visited {
          text-decoration: none;
          color: inherit;
        }
      }

      h2 {
        margin: 0 0 10px;
      }

      ul {
        padding-left: 20px;
        margin: 0;
      }
    }
  }



}

